credentials
terraform.tfstate.backup
terraform.tfstate
variables_tf_backup.txt
.terraform.lock.hcl
.terraform

zoomcamp

# python notebook
de_zoomcamp.ipynb
.ipynb_*

# airflow
logs
plugins
config

# python environment
pyenv
.venv

# local database
mlflow.db

